.app{
  font-family: RobotoSlab-Light;
}

.bg-grey {
  background-color: #f5f6fa;
}

.bg-white {
  background-color: #fff;
}

.text-azure {
  color: #0290ff;
}

.background-azure {
  color: #0290ff;
}

.text-azure-dark {
  color: #4386bf;
}

.text-pale-grey {
  color: #f5f6fa;
}

ul{
  list-style: none;
  display:flex;

}
